@import url("../../css/colors.css");
@import url("../../css/global.css");
@import url("table.css");
@import url("actions.css");
@import url("../components/StatusDot.css");
@import url("../components/ResponseStatus.css");

header {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}
