body {
  background: var(--black);
  color: var(--white);
  font-family: system-ui, sans-serif;
  font-size: 75%;
}

.link {
  color: var(--white);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
