body {
  background: var(--black);
  color: var(--white);
  font-family: system-ui, sans-serif;
  font-size: 75%;
}

.status {
  text-shadow: 1px 1px var(--black);
}

.status.redirect {
  color: var(--yellow);
}

.status.success {
  color: var(--green);
}

.status.fail {
  color: var(--red);
}

.hidden {
  display: none;
}
