body {
  background: var(--black);
  color: var(--white);
  font-family: system-ui, sans-serif;
  font-size: 75%;
}

.link {
  color: var(--white);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background: #434343;
  border: 1px solid #ffffff36;
  border-radius: 3px;
  color: var(--white);

  &:hover {
    border-color: #ffffff26
  }
}