body {
  background: #202124;
  color: #fff;
  font-family: system-ui, sans-serif;
  font-size: 75%;
}

.success {
  color: #4caf50;
}

.fail {
  color: #ff5722;
}

#table {
  border-collapse: collapse;
}

#table th, td {
  text-align: left;
  padding: 5px;
}

#table tr:nth-child(even) {
  background: #353535;
}

#table tr:hover {
  background: #273689;
}

#table tr.open {
  background: #273689
}

.time {
  opacity: 0.75;
}

.href-button {
  background: transparent;
  padding: 0;
  color: #fff;
  border: 0;
  font-family: system-ui, sans-serif;
  font-size: 100%;
  font-weight: normal;
  cursor: pointer;
}

.hidden {
  display: none;
}

.report {
  max-height: 300px;
  overflow: auto;
}
